<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <h2>Simple Airbnb</h2>
  <button type="button" class="btn btn-outline-primary">Add a flat</button>
</nav>

<div class="container">
  <div class="flat-container">
    <% @flats.each do |flat| %>
      <div class="flat-card">
        <h2><%= flat.name %></h2>
        <p><%= flat.address %></p>
        <p><%= flat.description %></p>
        <p><%= flat.price_per_night %></p>
        <p><%= flat.number_of_guests %></p>
      </div>
    <% end %>
  </div>
</div>
